<!-- Start Footer Section -->
<footer class="text-white text-center text-lg-start pink-footer">
    <div class="container p-4">
    <div class="row mt-4">
    <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
    <h5 class="text-uppercase mb-4">PT Cahaya Toner</h5>
      <p>
         merupakan produsen Toner Compatible Multi Print terpercaya  sejak tahun 20016.
      </p>
    <div class="mt-4">
        <!-- Facebook -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-facebook-f"></i></a>
        <!-- Dribbble -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-dribbble"></i></a>
        <!-- Twitter -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-twitter"></i></a>
        <!-- Google + -->
        <a type="button" class="btn btn-floating btn-warning btn-lg"><i class="fab fa-google-plus-g"></i></a>
    </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4 mb-md-0">  
      <div class="form-outline form-white mb-4">
      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 48.8px;"></div><div class="form-notch-trailing"></div></div></div>
    
        <ul class="fa-ul" style="margin-left: 1.65em;">
          <li class="mb-3">
          <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Jl. Garuda No. 12 Kemayoran, Jakarta Pusat</span>
          </li>
          <li class="mb-3">
          <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">cahayatoner@gmail.com</span>
          </li>
          <li class="mb-3">
          <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">021 – 4260111</span>
          </li>
        </ul>
    </div>

      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
      <h5 class="text-uppercase mb-4">Jam Buka</h5>
  
      <table class="table text-center text-white">
          <tbody class="font-weight-normal">
            <tr>
              <td>Senin - Kamis:</td>
              <td>08.00 - 21.00</td>
            </tr>
            <tr>
              <td>Jumat - Sabtu:</td>
              <td>08.00 - 22.00</td>
            </tr>
            <tr>
              <td>Minggu:</td>
              <td>09.00 - 20.00</td>
            </tr>
          </tbody>
      </table>
      </div>
    </div>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2024 Copyright:
    <a class="text-white" href="https://PTCahayaToner.com/">PT Cahaya Toner.com</a>
    </div>

  </footer>
  <!-- End Footer Section -->

  <script src="{{url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/tiny-slider.js')}}"></script>
  <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>