<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <script>
        function add() {
            $("#form").action = "/add_data/form/pesanan"
        }
        function edit(id) {
            $("#form").action =`/edit/form/pesanan/${id}`
        }
        function cancel() {
            window.location.href='/pesanan'
        }
    </script>
</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">
        <!-- Spinner -->
        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Form Pesanan -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-7">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <h6 class="mb-4">Data Pesanan</h6>
                            <form method="post" enctype="multipart/form-data">
                                {% if action == "tambah" %}
                                <div class="mb-3">
                                    <label for="inputTipe" class="form-label">Tipe</label>
                                    <input type="text" class="form-control" id="tipe" name="tipe" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputKuantitas" class="form-label">Kuantitas</label>
                                    <input type="number" class="form-control" id="kuantitas" name="kuantitas" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputNamaPenerima" class="form-label">Nama Penerima</label>
                                    <input type="text" class="form-control" id="namaPenerima" name="namaPenerima" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPerusahaan" class="form-label">Perusahaan</label>
                                    <input type="text" class="form-control" id="perusahaan" name="perusahaan" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputAlamat" class="form-label">Alamat</label>
                                    <input type="text" class="form-control" id="alamat" name="alamat" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputHarga" class="form-label">Harga</label>
                                    <input type="number" class="form-control" id="harga" name="harga" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputMetodePembayaran" class="form-label">Metode Pembayaran</label>
                                    <input type="text" class="form-control" id="metodePembayaran" name="metodePembayaran" required>
                                </div>
                                <button type="submit" class="btn btn-danger" onclick="add()">Tambah</button>
                                {% elif action == "edit" %}
                                <input type="text" name="id" value="{{ dataPesanan[0].id }}" hidden>
                                <div class="mb-3">
                                    <label for="inputTipe" class="form-label">Tipe</label>
                                    <input type="text" class="form-control" id="tipe" name="tipe" value="{{ dataPesanan[0].tipe }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputKuantitas" class="form-label">Kuantitas</label>
                                    <input type="number" class="form-control" id="kuantitas" name="kuantitas" value="{{ dataPesanan[0].kuantitas }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputNamaPenerima" class="form-label">Nama Penerima</label>
                                    <input type="text" class="form-control" id="namaPenerima" name="namaPenerima" value="{{ dataPesanan[0].namaPenerima }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputPerusahaan" class="form-label">Perusahaan</label>
                                    <input type="text" class="form-control" id="perusahaan" name="perusahaan" value="{{ dataPesanan[0].perusahaan }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputAlamat" class="form-label">Alamat</label>
                                    <input type="text" class="form-control" id="alamat" name="alamat" value="{{ dataPesanan[0].alamat }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputHarga" class="form-label">Harga</label>
                                    <input type="number" class="form-control" id="harga" name="harga" value="{{ dataPendapatan[0].harga }}" required>
                                </div>
                                <div class="mb-3">
                                    <label for="inputMetodePembayaran" class="form-label">Metode Pembayaran</label>
                                    <input type="text" class="form-control" id="metodePembayaran" name="metodePembayaran" value="{{ dataPesanan[0].metodePembayaran }}" required>
                                </div>
                                <button type="submit" class="btn btn-danger" onclick="edit('{{dataPesanan[0].id}}')">Edit</button>
                                {% endif %}
                                <button type="submit" class="btn btn-outline-danger" onclick="cancel()">Cancel</button>
                            </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form Pesanan End -->
    </div>

<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='assets/lib/chart/chart.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/easing/easing.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/waypoints/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/owlcarousel/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/tempusdominus/js/moment.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
<script src="{{ url_for('static', filename='assets/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>

<!--  Javascript -->
<script src="{{ url_for('static', filename='assets/js/main.js') }}"></script>
</body>

</html>