<!-- Navbar Start -->
<nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
    <a href="/" class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-user-edit"></i></h2>
    </a>
    <a href="/" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    
    <div class="navbar-nav align-items-center ms-auto">
        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                <img class="rounded-circle me-lg-2" src="{{ url_for('static', filename=user_info.profilePict) }}" alt="" style="width: 40px; height: 40px;">
                <span class="d-none d-lg-inline-flex">{{ user_info['profileName'] }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-end bg-secondary border-0 rounded-0 rounded-bottom m-0">
                <button onclick="window.location.href='/profile'" class="dropdown-item">Profile Saya</button>
                <button onclick="logout()" class="dropdown-item">Log Out</button>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<script>
    function logout() {
        $.ajax({
          url: '/logout',
          type: 'DELETE',
          success: function(response) {
            console.log(response['message'])
            document.cookie = "mytoken=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
            window.location.href = "/sign_in"
          },
          error: function(xhr, status, error) {
            console.error(error);
          }
        })
      }
</script>
