<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_landingpage.html" %}

    <script>
      
    </script>

  </head>

  <body>
    
    {% include "navbar_landingpage.html" %}

    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Detail Penagihan</h2>
            <div class="p-3 p-lg-5 border bg-white">
              
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_fname" class="text-black"
                    >Nama  <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="c_fname"
                    name="c_fname"
                  />
                </div>
              
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_companyname" class="text-black"
                    >Nama Perusahaan
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="c_companyname"
                    name="c_companyname"
                  />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_address" class="text-black"
                    >Alamat Lengkap<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="c_address"
                    name="c_address"
                    
                  />
                </div>
              </div>


             

              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="c_email_address" class="text-black"
                    >Alamat Email<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="c_email_address"
                    name="c_email_address"
                  />
                </div>
                <div class="col-md-6">
                  <label for="c_phone" class="text-black"
                    >Telepon <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="c_phone"
                    name="c_phone"
                  />
                </div>

                 <div class="form-group">
                <label for="c_country" class="text-black"
                  >Metode Pembayaran <span class="text-danger">*</span></label
                >
                <select id="c_country" class="form-control">
                  <option value="1">Cash</option>
                  <option value="2">TF BCA</option>
                  <option value="3">TF BRI</option>
                  <option value="4">TF Mandiri</option>
                  <option value="5">TF BNI</option>
                  <option value="6">TF BTN</option>
                </select>
              </div>
              </div>

              

              <div class="form-group">
                <label for="c_order_notes" class="text-black"
                  >Catatan Pesanan</label
                >
                <textarea
                  name="c_order_notes"
                  id="c_order_notes"
                  cols="30"
                  rows="5"
                  class="form-control"
                  placeholder="Write your notes here..."
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Pesanan Anda</h2>
                <div class="p-3 p-lg-5 border bg-white">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Produk</th>
                      <th>Total</th>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          Top Up T-Shirt <strong class="mx-2">x</strong> 1
                        </td>
                        <td>$250.00</td>
                      </tr>
                      <tr>
                        <td>Polo Shirt <strong class="mx-2">x</strong> 1</td>
                        <td>$100.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">
                          <strong>Subtotal Keranjang </strong>
                        </td>
                        <td class="text-black">$350.00</td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">
                          <strong>Jumlah Pesanan</strong>
                        </td>
                        <td class="text-black font-weight-bold">
                          <strong>$350.00</strong>
                        </td>
                      </tr>
                    </tbody>
                  </table>


                    <div class="collapse" id="collapsebank">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>


                    <div class="collapse" id="collapsecheque">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>


                    <div class="collapse" id="collapsepaypal">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button
                      class="btn btn-primary btn-lg py-3 btn-block"
                      onclick="window.location='thankyou.html'"
                    >
                      Pesan Sekarang
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>

    {% include "footer_landingpage.html" %}
    
    </body>
</html>
