<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_landingpage.html" %}

    <script>
      $(document).ready(function () {
        getCheckout()
      })

      function formatRupiah(angka) {
        let reverse = angka.toString().split("").reverse().join(""),
          ribuan = reverse.match(/\d{1,3}/g)
        ribuan = ribuan.join(".").split("").reverse().join("")
        return "Rp " + ribuan
      }

      function getCheckout() {
        $.ajax({
          url: `/get_checkout`,
          method: "GET",
          success: function (response) {
            $("#data-checkout").empty()
            dataCheckout = response["dataCheckout"]
            let totalPembayaran = 0
            for (let id in dataCheckout) {
              console.log(dataCheckout[id][0])
              totalPembayaran += dataCheckout[id][0]['total']
                let checkout_temp = ` <tr>
                        <td>
                          ${dataCheckout[id][0]['tipe']}<strong class="mx-2">x</strong>${dataCheckout[id][0]['kuantitas']}
                        </td>
                        <td>${formatRupiah(dataCheckout[id][0]['total'])}</td>
                      </tr>`
                      $("#data-checkout").append(checkout_temp)
            }
            let checkout_temp = `<tr>
                        <td class="text-black font-weight-bold">
                          <strong>Sub Total </strong>
                        </td>
                        <td class="text-black"><strong>${formatRupiah(totalPembayaran)}</strong></td>
                      </tr>
                      <tr>
                        <td class="text-black font-weight-bold">
                          <strong>Total Harga </strong>
                        </td>
                        <td class="text-black"><strong>${formatRupiah(totalPembayaran)}</strong></td>
                      </tr>`
                      
                      $("#data-checkout").append(checkout_temp)
          }
        })
      }

      function payment() {
        let perusahaan = $('#perusahaan').val()
        let nama = $('#nama').val()
        let email = $('#email').val()
        let telpone = $('#telpone').val()
        let alamat = $('#alamat').val()
        let metodePembayaran = $('#metodePembayaran').val()
        let pesan = $('#pesan').val()
        
        if (nama == "") {
          alert("Anda belum memasukan nama anda")
          return
        }
        if (perusahaan == "") {
          alert("Anda belum memasukan nama perusahaan")
          return
        }
        if (alamat == "") {
          alert("Masukan alamat untuk lokasi pengiriman")
          return
        }
        if (email == "") {
          alert("Anda belum memasukan email anda")
          return
        }
        if (telpone == "") {
          alert("Anda belum memasukan telepone anda")
          return
        }
        
          $.ajax({
              type: 'POST',
              url: '/order_produk',
              contentType: 'application/json',
              data: JSON.stringify({ order: chatOrder(dataCheckout, telpone, pesan, metodePembayaran, nama, perusahaan, email, alamat)}),
              success: function(response) {
                dataCheckout = response["dataCheckout"]
                Swal.fire({
                  title: 'Informasi',
                  text: 'Pesanan anda berhasil diorder',
                  icon: 'info',
                  confirmButtonText: 'Oke',
                }).then((result) => {
                  if (result.isConfirmed) {
                    addData(dataCheckout, nama, perusahaan, alamat, metodePembayaran)
                    deleteCheckout()
                    $('#perusahaan').val("")
                    $('#nama').val("")
                    $('#email').val("")
                    $('#telpone').val("")
                    $('#alamat').val("")
                    $('#pesan').val("")
                    $('#metodePembayaran').val("Cash")
                    window.location.href = '/product-jualprinter'
                  }
                })
                  
              },
              error: function(xhr, status, error) {
                  Swal.fire({
                    title: 'Informasi',
                    text: xhr.responseJSON.error,
                    icon: 'info',
                    confirmButtonText: 'Oke',
                  })
              }
          })  
      }

      function addData(dataCheckout, nama, perusahaan, alamat, metodePembayaran) {
        for (let id in dataCheckout) {
          $.ajax({
            type: 'POST',
            url: '/add_omset',
            data: {
              'tipe': dataCheckout[id][0]['tipe'],
              'kuantitas': dataCheckout[id][0]['kuantitas'],
              'namaPenerima': nama,
              'perusahaan': perusahaan,
              'alamat': alamat,
              'harga': dataCheckout[id][0]['total'],
              'metodePembayaran': metodePembayaran,
              'tipePemasukan': dataCheckout[id][0]['tipePemasukan'],
              'durasiSewa': dataCheckout[id][0]['durasiSewa'],
            },
            success: function (response) {
              console.log("Success")
            }
          })
        }
      }

      function chatOrder(dataCheckout, telpone, pesan, metodePembayaran, nama, perusahaan, email, alamat) {
        let wa = "+62" + telpone.substring(1, telpone.length)
        let chat = `Orderan\nNama: ${nama}\nPerusahaan: ${perusahaan}\nEmail: ${email} \nAlamat: ${alamat}`
        for (let id in dataCheckout) {
          if (dataCheckout[id][0]['tipePemasukan'] == "Penjualan") {
            chat += "\n\nPenjualan!\nKode produk: " + dataCheckout[id][0]['id'] + "\nTipe: " +  dataCheckout[id][0]['tipe'] + "\nKuantitas: " +  dataCheckout[id][0]['kuantitas'] + " unit\nHarga: " + formatRupiah(dataCheckout[id][0]['total'] + "\nPembayaran: " + metodePembayaran)
          } else {
            chat += "\n\nPenywaan!\nKode produk: " + dataCheckout[id][0]['id'] + "\nTipe: " +  dataCheckout[id][0]['tipe'] + "\nKuantitas: " +  dataCheckout[id][0]['kuantitas'] + " unit\nDurasi Sewa: " + dataCheckout[id][0]['durasiSewa'] + "\nHarga: " + formatRupiah(dataCheckout[id][0]['total'] + "\nPembayaran: " + metodePembayaran) 
          }
        }
        if (pesan.length > 0) {
          chat += "\n\nNOTES!\n" + pesan
        }
        chat += "\n\nLakukan konfirmasi pembaran dengan menghubungi nomer ini\n" + `https://wa.me/${wa}`
        return chat
      }

      function deleteCheckout(){
        $.ajax({
          url: `/delete_checkout`,
          method: "DELETE",
          success: function (response) {
            console.log(response.message)
          },
          error: function (error) {
            console.error("Error deleting item:", error)
          },
        })
      }

      function cancelPayment() {
          deleteCheckout()
          window.location.href = '/product-jualprinter'
      }
    </script>

  </head>

  <body>
    
    {% include "navbar_landingpage.html" %}

    <div class="untree_co-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">
            <h2 class="h3 mb-3 text-black">Detail Penagihan</h2>
            <div class="p-3 p-lg-5 border bg-white">
              
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="nama" class="text-black"
                    >Nama  <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nama"
                  />
                </div>
              
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="perusahaan" class="text-black"
                    >Nama Perusahaan
                  </label>
                  <input
                    type="text"
                    class="form-control"
                    id="perusahaan"
                  />
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <label for="alamat" class="text-black"
                    >Alamat Lengkap<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="alamat"
                  />
                </div>
              </div>
              <div class="form-group row mb-5">
                <div class="col-md-6">
                  <label for="email" class="text-black"
                    >Alamat Email<span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="email"
                  />
                </div>
                <div class="col-md-6">
                  <label for="telpone" class="text-black"
                    >Telepon <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="telpone"
                  />
                </div>

                 <div class="form-group">
                <label for="metodePembayaran" class="text-black"
                  >Metode Pembayaran <span class="text-danger">*</span></label
                >
                <select id="metodePembayaran" class="form-control">
                  <option value="Cash">Cash</option>
                  <option value="TF BCA">TF BCA</option>
                  <option value="TF BRI">TF BRI</option>
                  <option value="TF Mandiri">TF Mandiri</option>
                  <option value="TF BNI">TF BNI</option>
                  <option value="TF BTN">TF BTN</option>
                </select>
              </div>
              </div>

              

              <div class="form-group">
                <label for="pesan" class="text-black"
                  >Catatan Pesanan</label
                >
                <textarea
                  id="pesan"
                  cols="30"
                  rows="5"
                  class="form-control"
                  placeholder="Write your notes here..."
                ></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="row mb-5">
              <div class="col-md-12">
                <h2 class="h3 mb-3 text-black">Pesanan Anda</h2>
                <div class="p-3 p-lg-5 border bg-white">
                  <table class="table site-block-order-table mb-5">
                    <thead>
                      <th>Produk</th>
                      <th>Total</th>
                    </thead>
                    <tbody id="data-checkout">
                      
                    </tbody>
                  </table>


                    <div class="collapse" id="collapsebank">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>


                    <div class="collapse" id="collapsecheque">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>


                    <div class="collapse" id="collapsepaypal">
                      <div class="py-2">
                        <p class="mb-0">
                          Make your payment directly into our bank account.
                          Please use your Order ID as the payment reference.
                          Your order won’t be shipped until the funds have
                          cleared in our account.
                        </p>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <button
                      class="btn btn-primary btn-lg py-3 btn-block"
                      onclick="payment()"
                    >
                      Pesan Sekarang
                    </button>
                    <button
                      class="btn btn-primary btn-lg py-3 btn-block"
                      onclick="cancelPayment()"
                    >
                      Cancel
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- </form> -->
      </div>
    </div>

    {% include "footer_landingpage.html" %}
    
    </body>
</html>
