<!DOCTYPE html>
<html lang="en">
<head>
    {% include "header.html" %}
    <script>
        $(document).ready(function () {
          getData()
          $('#search').on('input', function() {
              let query = $(this).val().trim()
              if(query === ''){
                  window.location.reload()
              } else {
                  searchData(query)
              }
          })
        })

        function formatRupiah(angka) {
          let reverse = angka.toString().split('').reverse().join(''),
          ribuan = reverse.match(/\d{1,3}/g)
          ribuan = ribuan.join('.').split('').reverse().join('')
          return 'Rp ' + ribuan
        }

         function getData() {
            $("#produk-card").empty()
            $.ajax({
                type: "GET",
                url: `/get_data/produk`,
                data: {},
                success: function (response) {
                   data = response["dataProduk"]
                   for (let i = 0; i < data.length; i++) {
                    let imageUrl = `${window.location.origin}/static/assets/img/produk/${data[i]["foto"]}`
                    let produk_temp = `
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
                        <div class="card produk-card">
                          <img src="${imageUrl}" class="card-img-top" alt="${data[i]["tipe"]}">
                          <div class="card-body">
                            <h6 class="card-title">Merk: ${data[i]["merk"]}</h6>
                            <p class="card-text">Tipe: ${data[i]["tipe"]}</p>
                            <p class="card-text">Harga Jual: ${formatRupiah(data[i]["hargaJual"])}</p>
                            ${data[i]["hargaSewa"] ? `<p class="card-text">Harga Sewa: ${formatRupiah(data[i]["hargaSewa"])} / Bulan</p>` : `<p class="card-text">Harga Sewa: - </p>`}
                            <p class="card-text text-truncate">${data[i]["deskripsi"]}</p>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-sm btn-danger m-2" onclick="window.location.href='/edit_data/form/produk/${data[i]["id"]}'">Edit</button>
                                <button class="btn btn-sm btn-outline-danger m-2" onclick="deleteData('${data[i]["id"]}')">Hapus</button>
                            </div>
                          </div>
                        </div>
                      </div>`
                      
                    $("#produk-card").append(produk_temp)
                  }            
               }
           })
         }

         function deleteData(id) {
            $.ajax({
                type: "POST",
                url: "/delete_data/produk",
                data: { id: id },
                success: function (response) {
                    Swal.fire({
                        title: 'Berhasil!',
                        text: response["msg"],
                        icon: 'success',
                        confirmButtonText: 'Oke',
                        background: '#000000', 
                        confirmButtonColor: '#EB1616',
                        customClass: {
                            icon: 'swal2-icon-dark', 
                            content: 'swal2-content-dark' 
                        }
                      }).then((result) => {
                        if (result.isConfirmed) {
                          window.location.reload()
                        }
                    })
                }
            })
        }

        function searchData(query) {
            $.ajax({
                url: '/search_data/produk',
                method: 'POST',
                data: { query: query },
                success: function(response) {
                    $("#produk-card").empty()
                    data = response["dataProduk"]
                   for (let i = 0; i < data.length; i++) {
                    let imageUrl = `${window.location.origin}/static/assets/img/produk/${data[i]["foto"]}`
                    let produk_temp = `
                    <div class="col-md-4 col-sm-6 col-xs-12 mb-3">
                        <div class="card produk-card">
                          <img src="${imageUrl}" class="card-img-top" alt="${data[i]["tipe"]}">
                          <div class="card-body">
                            <h6 class="card-title">Merk: ${data[i]["merk"]}</h6>
                            <p class="card-text">Tipe: ${data[i]["tipe"]}</p>
                            <p class="card-text">Harga Jual: ${formatRupiah(data[i]["hargaJual"])}</p>
                            ${data[i]["hargaSewa"] ? `<p class="card-text">Harga Sewa: ${formatRupiah(data[i]["hargaSewa"])} / Bulan</p>` : `<p class="card-text">Harga Sewa: - </p>`}
                            <p class="card-text text-truncate">${data[i]["deskripsi"]}</p>
                            <div class="d-flex justify-content-between">
                                <button class="btn btn-sm btn-danger m-2" onclick="window.location.href='/edit_data/form/produk/${data[i]["id"]}'">Edit</button>
                                <button class="btn btn-sm btn-outline-danger m-2" onclick="deleteData('${data[i]["id"]}')">Hapus</button>
                            </div>
                          </div>
                        </div>
                      </div>`
                      
                    $("#produk-card").append(produk_temp)
                  }       
                }
            })
          }
    </script>

</head>
<body>
    <div class="container-fluid position-relative d-flex p-0">

        {% include "sidebar.html" %}

        <!-- Content -->
        <div class="content">
            
            {% include "navbar.html" %}

            <!-- Daftar Produk -->
            <div class="container-fluid pt-4 px-4">
                <div class="row">
                    <div class="col-12">
                        <div class="row bg-secondary rounded p-4" id="productContainer">
                            <div class="d-flex align-items-center justify-content-between mb-4">
                                <h6 class="mb-0">Data Pendapatan</h6>
                                <div class="d-flex">
                                    <input type="text" class="form-control m-2" placeholder="Search" id="search">
                                </div>
                            </div>
                            <!--Cardbox Produk-->
                            <div id="produk-card" class="row">
                            </div>
                            <!--End Cardbox Produk-->
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- Daftar Produk End -->

            <!-- Move To Form Add Data -->
            <a href="/add_data/form/produk" class="btn btn-sm btn-danger m-2 btn-lg-square back-to-top"><i class="fas fa-plus"></i></a>
            {% include "footer.html" %}
</body>

</html>
