<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Untree.co" />
    <link rel="shortcut icon" href="favicon.png" />

    <meta name="description" content="" />
    <meta name="keywords" content="bootstrap, bootstrap4" />

    <!-- Bootstrap CSS -->
    <link
      href="{{url_for('static', filename='assets/css/bootstrap5.min.css')}}"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/css/tiny-slider.css')}}"
      rel="stylesheet"
    />
    <link
      href="{{url_for('static', filename='assets/css/frontend.css')}}"
      rel="stylesheet"
    />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0/js/bootstrap.bundle.min.js"></script>
    <title>Klien Mitra Kami</title>
    <script>
      $.ajax({
        type: "GET",
        url: `/services`,
        data: {},
      });
    </script>
  </head>

  <body>
    <!-- Start Header/Navigation -->
    <nav
      class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark"
      arial-label="Furni navigation bar"
    >
      <div class="container">
        <img
          src="{{url_for('static', filename='assets/img/produk/Logo.png')}}"
          class="logo"
          style="width: 80px"
          alt=""
        />
        <a class="navbar-brand" href="/index">Cahaya Toner<span>.</span></a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsFurni"
          aria-controls="navbarsFurni"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsFurni">
          <ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="/index">Beranda</a>
            </li>
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-primary dropdown-toggle"
                data-bs-toggle="dropdown"
              >
                Produk
              </button>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/product-sewaprinter"
                    >Sewa Printer
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="/product-jualprinter"
                    >Jual Printer</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/product-jualtoner"
                    >Jual Toner</a
                  >
                </li>
              </ul>
            </div>
            <li><a class="nav-link" href="/about">Tentang Kami</a></li>
            <li class="active">
              <a class="nav-link" href="/services">Klien Kami</a>
            </li>
            <li><a class="nav-link" href="/contact">Kontak</a></li>
          </ul>

          <ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
            <li></li>
            <li>
              <a class="nav-link" href="/cart"
                ><img
                  src="{{url_for('static', filename='assets/img/produk/cart.svg')}}"
              /></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Header/Navigation -->

    <!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>Kepuasan pelanggan adalah semangat kami dalam bekerja.</h1>
              <p class="mb-4">
                Kami siap menjalin kerja sama dengan berbagai jenis usaha.
                Apapun kebutuhan percetakan Anda, Cahaya Toner siap memberikan
                solusi terbaik untuk kesuksesan bisnis Anda.
              </p>
              <p>
                <a href="" class="btn btn-primary me-2">Shop Now</a
                ><a href="#" class="btn btn-white-outline">Explore</a>
              </p>
            </div>
          </div>
          <div class="col-lg-7">
            <div class="hero-img-wrap">
              <img
                src="{{url_for('static', filename='assets/img/produk/tim.png')}}"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Why Choose Us Section -->
    <div class="container text-center my-5">
      <h1 class="display-4" style="color: #7a943e">Clients</h1>
      <p class="lead">Kepuasan pelanggan adalah semangat kami dalam bekerja.</p>
      <hr />
      <div class="row justify-content-center mt-4">
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/Tigaroda.png')}}"
            alt="Tiga Roda Semen"
            class="img-fluid"
          />
          <p class="mt-2">Tiga Roda Semen</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/logistik.jpg')}}"
            alt="BGR Logistik Indonesia"
            class="img-fluid"
          />
          <p class="mt-2">BGR Logistik Indonesia</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/andalanfinance.png')}}"
            alt="Andalan Finance"
            class="img-fluid"
          />
          <p class="mt-2">Andalan Finance</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/rscm.png')}}"
            alt="RSCM"
            class="img-fluid"
          />
          <p class="mt-2">RSCM</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/pandu.png')}}"
            alt="Pandu Logistics"
            class="img-fluid"
          />
          <p class="mt-2">Pandu Logistics</p>
        </div>
      </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Testimonial Slider -->
    <div class="container text-center my-5">
      <p class="lead">
        Sejak 2005, Multi Print selalu berkomitmen untuk memberikan kualitas
        produk yang terbaik serta menjaga kepercayaan yang diberikan oleh
        pelanggan kami.
      </p>
      <div class="row justify-content-center mt-4">
        <div class="col-6 col-md-4 my-2">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Semen"
            class="img-fluid"
          />
        </div>
        <div class="col-6 col-md-4 my-2">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Logo 2"
            class="img-fluid"
          />
        </div>
        <div class="col-6 col-md-4 my-2">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Logo 3"
            class="img-fluid"
          />
        </div>
        <div class="col-6 col-md-4 my-2">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Logo 4"
            class="img-fluid"
          />
        </div>
        <div class="col-6 col-md-4 my-2">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Logo 5"
            class="img-fluid"
          />
        </div>
        <div class="col-6 col-md-4 my-2">
          <img
            src="https://via.placeholder.com/300x200"
            alt="Logo 6"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
    <!-- End Testimonial Slider -->

    <!-- Start Footer Section -->
    <footer class="text-white text-center text-lg-start pink-footer">
      <div class="container p-4">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">PT Cahaya Toner</h5>
            <p>
              merupakan produsen Toner Compatible Multi Print terpercaya sejak
              tahun 2005.
            </p>
            <div class="mt-4">
              <!-- Facebook -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-facebook-f"></i
              ></a>
              <!-- Dribbble -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-dribbble"></i
              ></a>
              <!-- Twitter -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-twitter"></i
              ></a>
              <!-- Google + -->
              <a type="button" class="btn btn-floating btn-warning btn-lg"
                ><i class="fab fa-google-plus-g"></i
              ></a>
              <!-- Linkedin -->
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <div class="form-outline form-white mb-4">
              <div class="form-notch">
                <div class="form-notch-leading" style="width: 9px"></div>
                <div class="form-notch-middle" style="width: 48.8px"></div>
                <div class="form-notch-trailing"></div>
              </div>
            </div>

            <ul class="fa-ul" style="margin-left: 1.65em">
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-home"></i></span
                ><span class="ms-2"
                  >Jl. Garuda No. 12 Kemayoran, Jakarta Pusat</span
                >
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-envelope"></i></span
                ><span class="ms-2">cahayatoner@gmail.com</span>
              </li>
              <li class="mb-3">
                <span class="fa-li"><i class="fas fa-phone"></i></span
                ><span class="ms-2">021 – 4260111</span>
              </li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>

            <table class="table text-center text-white">
              <tbody class="font-weight-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
        © 2024 Copyright:
        <a class="text-white" href="https://PTCahayaToner.com/"
          >PT Cahaya Toner.com</a
        >
      </div>
    </footer>
    <!-- End Footer Section -->

    <script src="{{url_for('static', filename='assets/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/tiny-slider.js')}}"></script>
    <script src="{{url_for('static', filename='assets/js/custom.js')}}"></script>
  </body>
</html>
