<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "header_landingpage.html" %}

    <script>
      
    </script>

  </head>

  <body>
    
    {% include "navbar_landingpage.html" %}

    <!-- Start Hero Section -->
    <div class="hero">
      <div class="container">
        <div class="row justify-content-between">
          <div class="col-lg-5">
            <div class="intro-excerpt">
              <h1>Kepuasan pelanggan adalah semangat kami dalam bekerja.</h1>
              <p class="mb-4">
                Kami siap menjalin kerja sama dengan berbagai jenis usaha.
                Apapun kebutuhan percetakan Anda, Cahaya Toner siap memberikan
                solusi terbaik untuk kesuksesan bisnis Anda.
              </p>
             
            </div>
          </div>
          <div class="col-lg-7">
            <div class="hero-img-wrap">
              <img
                src="{{url_for('static', filename='assets/img/produk/orang5.png')}}"
                class="img-fluid"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Hero Section -->

    <!-- Start Why Choose Us Section -->
    <div class="container text-center my-5">
      <h1 class="display-4" style="color: #001e3d ">Clients</h1>

      <hr />
      <div class="row justify-content-center mt-4">
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/Tigaroda.png')}}"
            alt="Tiga Roda Semen"
            class="img-fluid"
          />
          <p class="mt-2">Tiga Roda Semen</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/logistik.jpg')}}"
            alt="BGR Logistik Indonesia"
            class="img-fluid"
          />
          <p class="mt-2">BGR Logistik Indonesia</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/andalanfinance.png')}}"
            alt="Andalan Finance"
            class="img-fluid"
          />
          <p class="mt-2">Andalan Finance</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/rscm.png')}}"
            alt="RSCM"
            class="img-fluid"
          />
          <p class="mt-2">RSCM</p>
        </div>
        <div class="col-6 col-md-2 my-2">
          <img
            src="{{url_for('static', filename='assets/img/produk/pandu.png')}}"
            alt="Pandu Logistics"
            class="img-fluid"
          />
          <p class="mt-2">Pandu Logistics</p>
        </div>
      </div>
    </div>
    <!-- End Product Section -->

    <!-- Start Testimonial Slider -->
    <div class="container text-center my-5">
      <p class="lead">
        Sejak 2016, Cahaya Toner Printer selalu berkomitmen untuk memberikan kualitas
        produk yang terbaik serta menjaga kepercayaan yang diberikan oleh
        pelanggan kami.
      </p>
      <div class="row justify-content-center mt-4">
        <div class="col-6 col-md-4 my-2">
          <img
           src="{{url_for('static', filename='assets/img/produk/1.png')}}"
            alt="Semen"
            class="img-fluid"
          />
        </div>
        <div class="col-6 col-md-4 my-2">
          <img
             src="{{url_for('static', filename='assets/img/produk/2.png')}}"
            alt="Logo 2"
            class="img-fluid"
          />
        </div>
        <div class="col-6 col-md-4 my-2">
          <img
             src="{{url_for('static', filename='assets/img/produk/3.png')}}"
            alt="Logo 3"
            class="img-fluid"
          />
        </div>
       
      </div>
    </div>
    <!-- End Testimonial Slider -->

    {% include "footer_landingpage.html" %}
    
    </body>
</html>
